.sidebar {
    --width-logo: 6.4375rem;
    --width-sidebar: 15.25rem;
    width: var(--width-sidebar);
    border-right: 1px solid var(--clr-br-sidebar);

    &-container {
        --gap: 0;
        height: 100%;
        padding: 2.5rem 0.5rem;
    }

    &-logo {
        padding-inline: 1rem;

        a {
            display: inline-block;
        }
        svg {
            width: var(--width-logo);
            height: auto;
        }

        path {
            fill: var(--clr-logo);
            width: 100%;
            height: 100%;
        }
    }

    &-menu {
        flex: 1;
        padding-block: 1rem;
    }

    &-item {
        font-family: var(--ff-secondary);
        font-weight: var(--fw-semibold);
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0.875rem 1rem;
        color: var(--clr-grey-400);
        border-radius: 20vw;
        transition: all 200ms ease;
        line-height: 1;
        cursor: pointer;

        &.active {
            color: inherit;
            font-weight: var(--fw-bold);
        }

        &:hover {
            background-color: var(--clr-grey-500);
            color: var(--clr-white);
        }
    }

    &-img {
        width: 1.5rem;
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
    }

    &-icon {
        font-size: var(--fs-400);
    }

    &-more {
        position: relative;

        &-button {
            span {
                flex: 1;
            }
        }

        &-list {
            position: absolute;
            left: 0.25rem;
            bottom: calc(100% + 0.75rem);
            width: 14.875rem;
            background-color: var(--bg-sidebar-list);
            border-radius: 0.25rem;
            overflow: hidden;
            transition: transform 400ms ease;
            transform-origin: bottom;

            &[aria-expanded='true'] {
                transform: scale(1);
            }

            &[aria-expanded='false'] {
                transform: scale(0);
            }
        }

        &-option {
            cursor: pointer;
            padding: 0.5rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                background-color: var(--bg-sidebar-option);
            }

            p {
                flex: 1;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            span {
                font-size: var(--fs-400);
                height: 100%;
                line-height: 1;
            }
        }
    }
}
