.dropdown {
    position: relative;

    &-toggle {
        cursor: pointer;
        line-height: 0.95;

        & > * {
            display: inline-block;
            line-height: 0.64;
            font-size: var(--fs-400);
        }
    }

    &-menu {
        position: absolute;
        right: 0;
        top: calc(100% + 0.25rem);
        background-color: var(--clr-grey-100);

        &[data-collapse='false'] {
            display: none;
        }

        &[data-collapse='true'] {
            display: block;
        }
    }

    &-item {
        padding: 0.25rem 1rem;
        cursor: pointer;
        color: var(--clr-black);
    }
}
