.setting {
    border: thin solid var(--clr-br-setting);

    &-option {
        flex-basis: 15rem;
        border-right: thin solid var(--clr-br-setting);

        &-item {
            display: block;
            padding: 0.5rem 0.5rem 0.5rem 1.875rem;
            border-left: 2px solid transparent;
            font-family: var(--ff-secondary);

            &::first-letter {
                text-transform: uppercase;
            }

            &.active {
                font-weight: var(--fw-semibold);
                border-color: var(--clr-br-setting-option);
            }
        }
    }

    &-content {
        padding: 2rem;
        width: 100%;
    }

    &-avatar {
        --gap: 2rem;

        &-img {
            flex-basis: 12.125rem;

            img {
                margin-left: auto;
                width: 2.375rem;
                aspect-ratio: 1;
                border-radius: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }

        &-info {
            flex: 1;

            & > * {
                line-height: 1;
            }
        }

        &-action {
            cursor: pointer;
        }
    }

    &-form {
        margin-block: 1rem;

        &-group {
            display: flex;
            align-items: top;
            gap: 2rem;
        }

        &-label {
            flex-basis: 12.125rem;
            text-align: right;
            font-weight: var(--fw-bold);
            padding-block: 0.25rem;

            &::first-letter {
                text-transform: uppercase;
            }
        }

        &-control {
            flex: 1;
            background-color: transparent;
            padding: 0.25rem 0.5rem;

            option {
                color: var(--clr-option-setting);
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            gap: 2rem;

            & > div {
                flex-basis: 12.125rem;
            }
        }

        textarea {
            height: 5rem;
        }
    }
}
