.write {
    height: 25rem;
    & > * {
        flex-basis: 100%;
        aspect-ratio: 1;
    }

    &-media {
        border-right: thin solid var(--clr-br-modal);
        &-select {
            width: 100%;
            height: 100%;
        }

        &-icon {
            font-size: var(--fs-800);
            font-weight: var(--fw-thin);
        }
    }

    &-content {
        padding: 1rem;
    }

    &-info {
        --gap: 0.5rem;
    }

    &-img {
        width: 1.75rem;
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
    }

    &-control {
        background-color: transparent;
        padding: 0;
        border: none;
        resize: none;
        width: 100%;
        height: 10.5rem;
    }

    &-action {
        --gap: 1rem;
    }
}
